@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    /* linear-gradient(rgba(246, 3, 3, 0.383), rgba(195, 102, 48, 0.589)), */
    background: linear-gradient(rgba(24, 22, 22, 0.383), rgba(204, 104, 86, 0.589)),url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 2rem 5rem;
}
nav {
    /* width: 90%; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
}

a {
    text-decoration: none;   
}

li {
    list-style: none;
    display: inline-block;
}

nav div h1 {
    font-weight: 800;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    font-weight: 600;
}

nav ul li a:hover {
    color: red;
    transition: .5s ease-in-out;
}

/* header content */
.header-content {
    color: #ffffff;
    width: 50%;
    position: relative;
    top: 23rem;
}

.header-content h1 {
    font-weight: 800;
    color: rgb(190, 47, 47);
    margin-bottom: .5rem;
}

.header-content p {
    color: whitesmoke;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

input[type=text] {
    padding: 1.5rem;
    width: 50%;
    display: block;
    margin-bottom: .5rem;
    outline: none;
}

input[type=text]::placeholder {
    font-size: 1rem;
}

form button {
    background-color: rgb(190, 47, 47);;
    color: #fff;
    padding: 1.5rem 7rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .5rem;
    border: none;
}

form button:hover {
    /* border: 1px solid rgb(190, 47, 47); */
    background-color: #fff;
    color: rgb(190, 47, 47);
    cursor: pointer;
}

